[Unit]
Description=Back up sensitive dot files.

[Service]
Type=simple
Restart=always
ExecStart=/home/xphyro/.dotfiles-sensitive/dotfilesbak-sensitive

[Install]
WantedBy=default.target
