[Unit]
Description=Connect to VPN.
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo /home/xphyro/.local/bin/protonvpn c --p2p

[Install]
WantedBy=default.target
