[user]
	email = berke.kocaoglu@metu.edu.tr
	name = Berke Kocaoğlu
	signingkey = berke.kocaoglu@metu.edu.tr
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[alias]
    tm = "!sh -c 'f() { export GIT_COMMITTER_DATE=$(git log -1 --format=%ci $0); git tag -f -a $0 $0^{}; }; f '"
	exec = "!exec "
	root = "rev-parse --show-toplevel"
[diff "pdf"]
    textconv = pdfinfo
[diff "zip"]
    textconv = unzip -v
[diff "bin"]
    textconv = hexdump -v -C
[color]
	# ui = false
	# branch = false
	diff = false
	# interactive = false
	# status = false
	# log = false
