se rnu
se nu

se ai
se showmatch
se so=2134

se is
se hls
se ic
se inf
se scs
se gd

se multiple-cursors

let mapleader=","

nnoremap ; :
vnoremap ; :

"nnoremap <C-j> :m .+1<CR>==
"nnoremap <C-k> :m .-2<CR>==
"inoremap <C-j> <Esc>:m .+1<CR>==gi
"inoremap <C-k> <Esc>:m .-2<CR>==gi
"vnoremap <C-j> :m '>+1<CR>gv=gv
"vnoremap <C-k> :m '<-2<CR>gv=gv

"nnoremap <silent> <C-l> :<C-u>nohlsearch<CR><C-l>
nnoremap <silent> L :<C-u>nohlsearch<CR>

"nnoremap J <C-d>
"nnoremap K <C-u>
nnoremap J 10j
nnoremap K 10k

nnoremap <A-d><A-l> <C-w><C-l>
nnoremap <A-d><A-h> <C-w><C-h>

inoremap <S-space> <space>

noremap <Leader>d "+x
noremap <Leader>y "+y
noremap <Leader>p "+P

nnoremap <Leader>svr :source ~/.ideavimrc<CR>
