se rnu
se nu

se ai
se showmatch
se so=2134

se is
se hls
se ic
se inf
se scs
se gd

se multiple-cursors

nnoremap ; :

nnoremap <C-j> :m .+1<CR>==
nnoremap <C-k> :m .-2<CR>==
inoremap <C-j> <Esc>:m .+1<CR>==gi
inoremap <C-k> <Esc>:m .-2<CR>==gi
vnoremap <C-j> :m '>+1<CR>gv=gv
vnoremap <C-k> :m '<-2<CR>gv=gv

nnoremap <silent> <C-l> :<C-u>nohlsearch<CR><C-l>
