[Unit]
Description=Back up insensitive dot files.

[Service]
Type=simple
Restart=always
ExecStart=/home/xphyro/.dotfiles/dotfilesbaktick

[Install]
WantedBy=default.target
