[Unit]
Description=Mount devices.

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/local/bin/mountdevs
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=default.target
