[Unit]
Description=Mount devices.

[Service]
Type=simple
ExecStart=/usr/bin/sudo /home/xphyro/code/sh/mountdevs
Environment=PATH=/usr/bin:/home/xphyro/code/sh

[Install]
WantedBy=default.target
