[Unit]
Description=Launch torrent client.
After=vpn.service mount.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/qbittorrent-nox

[Install]
WantedBy=default.target
