[Unit]
Description=Connect to VPN.
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/sudo /usr/bin/protonvpn c --cc de
Environment=PVPN_WAIT=600
Environment=PVPN_DEBUG=1

[Install]
WantedBy=multi-user.target
